* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0 px;
}

.animateOpacityToZero {
   animation-name: transitionOpacityToZero;
   animation-duration: 3.75s;
   animation-delay: 0.5s;
   animation-fill-mode: forwards;
}

.appBody {
   height: 85vh;
   /* border: 1.5px solid black; */
   /* background-color: rgb(173, 216, 230); */
   position: sticky;
   top: 9%;
   z-index: 3;
}

.appBody > .appBodybackground {
   height: 100%;
   position: absolute;
   overflow-y: hidden;
}

.appBody > .appBodyBackground > img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.appBody > .grid_container {
   display: grid;
   height: 100%;
   grid-template-columns: auto auto auto;
   justify-content: space-around;
   position: relative;
}

.carouselPics {
   object-fit: cover;
   max-height: 100%;
   max-width: 100%;
}

.grid_container > .columns {
   width: 33.3vw;
   height: 75vh;
   padding: 0;
   margin: 0;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.grid_container > .columns > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -1
}

.grid_container > .columns > img {
   animation: grid_container_images forwards;
   animation-timeline: view();
   border: 3.5px solid yellow;
   border-radius: 50%;
}

h1.img-text {
   -webkit-text-stroke-color: #333;
   -webkit-text-stroke-width: 1.5px;
   font-size: 70px;
   color: bisque;
   animation: grid_container_images forwards;
   animation-timeline: view();   
}

h1.img-text2 {
   -webkit-text-stroke-color: #333;
   -webkit-text-stroke-width: 1.5px;
   font-size: 73px;
   color: bisque;
   animation: grid_container_images forwards;
   animation-timeline: view();   
}

.headerWrapper { /* default z-index = 0. */
   height: 100vh;
   width: 100%;
}

img.behindscreencapture, img.screencapture {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

img.behindscreencapture {
   /* HOW TO PUT ONE IMAGE OVER ANOTHER. */
   z-index: 1;
   position: absolute;
}

img.screencapture {
   /* HOW TO PUT ONE IMAGE OVER ANOTHER. */
   z-index: 3;
   position: absolute;
   transform: translateZ(-3px) scale(3px);
   border: 7.5px solid black
}

.linkContainer {
   border-bottom: 1.5px solid black;
   background-color: antiquewhite;
   position: relative;
   height: 10vh;   
}

.LogoWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.LogoWrapper > img {
   max-height: 100%;
   object-fit: cover;
}

.LogoWrapper > .logoBackgroundImage {
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   z-index: 0
}

.LogoWrapper > .logo {
   object-fit: cover;
   position: absolute;
   z-index: 1;
}

nav {
   border-bottom: 1.5px solid black;
   display: flex;
   justify-content: space-around;
   height: 10vh;
   width: 100%;
   align-items: center;
   position: sticky;
   z-index: 1030;
   background: #c0c0aa;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.stickyDiv {
   position: sticky;
   top: 33%;
   background-color: antiquewhite;
   height: 91%;
}

.transparentAquariumWrapper {
   height: 100vh;
   background-color: transparent;
   perspective: 1px;
   position: sticky;
   top: 0;
   z-index: 1 /* changing z-index from 0 to 1 ensures the page will not scroll behind the link header. */
}

video.transparentWrapperVideo {
   width: 100%;
   height: 100vh;
   object-fit: cover;
   transform: translateZ(-95px) scale(95px);
   z-index: -1;
   position: absolute; /* Default position: static. */
}

.wrapper {
   perspective: 1px;
   width: 100%;
   height: 100vh;
   overflow-x: hidden;
}

@keyframes grid_container_images {
   from {
      scale: 0.333;
   }

   to {
      scale: 1;
   }
}

@keyframes transitionOpacityToZero {
   0% {opacity: 1}
   10% {opacity: 0.9}
   20% {opacity: 0.8}
   30% {opacity: 0.7}
   40% {opacity: 0.6;}
   50% {opacity: 0.5}
   60% {opacity: 0.4}
   70% {opacity: 0.3}
   80% {opacity: 0.2}
   90% {opacity: 0.1}
   100% {opacity: 0}
}