* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0 px;
}

header {
   border-bottom: 1.5px solid black;
   background-color: antiquewhite;
}

.headerLinks {
   border-bottom: 1.5px solid black;
   display: flex;
   justify-content: space-around;
   height: 5%;
   width: 100%;
   background-color: white;
   align-items: center;
}

.headerwrapper {
   height: 100vh;
   width: 100%;
   position: absolute;
   top: 0; /* setting my top. */
   right: 0; /* setting my right. */
   z-index: 1; /* z-index -1: logowrapper is positioned OVER the looping video */
   overflow-y: scroll;
}

.LogoWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: transparent;
}

.LogoWrapper > img {
   opacity: 0.75;
   object-fit: cover;
}

.transparent {
   height: 100%;
   background-color: transparent;
}

.transparentFishStockWrapper > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

video.main {
   width: 100%;
   height: 100vh;
   object-fit: cover;
   transform: translateZ(-5px) scale(1px);
   z-index: -1;
   position: absolute; /* Default position: static. */
}

.wrapper {
   position: relative; /* Default postion: static. */
   perspective: 1px;
   width: 100%;
   height: 100vh;
   overflow-x: hidden;
}

