* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0 px;
}

header.linkContainer {
   border-bottom: 1.5px solid black;
   background-color: antiquewhite;
}

.headerLinks {
   border-bottom: 1.5px solid black;
   display: flex;
   justify-content: space-around;
   height: 5%;
   width: 100%;
   background-color: white;
   align-items: center;
}

.headerwrapper {
   height: 100vh;
   width: 100%;
   position: absolute;
   top: 0; /* setting my top. */
   right: 0; /* setting my right. */
   z-index: 1; /* z-index -1: logowrapper is positioned OVER the looping video */
   overflow-y: scroll;
}

img.behindscreencapture, img.screencapture {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

img.behindscreencapture {
   /* HOW TO PUT ONE IMAGE OVER ANOTHER. */
   z-index: 1;
   position: absolute;
}

img.screencapture {
   /* HOW TO PUT ONE IMAGE OVER ANOTHER. */
   z-index: 3;
   position: absolute; 
}

.LogoWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: rgb(0, 0, 225, 0.75);
}

.LogoWrapper > img {
   object-fit: cover;
}

.animateOpacityToZero {
   animation-name: transitionOpacityToZero;
   animation-duration: 3.75s;
   animation-delay: 0.5s;
   animation-fill-mode: forwards;
}

@keyframes transitionOpacityToZero {
   0% {opacity: 1}
   10% {opacity: 0.9}
   20% {opacity: 0.8}
   30% {opacity: 0.7}
   40% {opacity: 0.6;}
   50% {opacity: 0.5}
   60% {opacity: 0.4}
   70% {opacity: 0.3}
   80% {opacity: 0.2}
   90% {opacity: 0.1}
   100% {opacity: 0}
}

.transparentFishStockWrapper {
   height: 100vh;
   background-color: transparent;
   position: relative;
   z-index: 1 /* changing z-index from 0 to 1 ensures the page will not scroll behind the link header. */
}

.headerWrapperBody {
   position: absolute;
   right: 0;
   left: 0;
   background-color: antiquewhite;
   min-height: 100vh;
}

video.main {
   width: 100%;
   height: 100vh;
   object-fit: cover;
   transform: translateZ(-5px) scale(1px);
   z-index: -1;
   position: absolute; /* Default position: static. */
}

.wrapper {
   position: relative; /* Default postion: static. */
   perspective: 1px;
   width: 100%;
   height: 100vh;
   overflow-x: hidden;
}

