* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0 px;
}

header {
   border-bottom: 1.5px solid black;
   background-color: antiquewhite;
}

.logowrapper {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   position: absolute;
   top: 0; /* setting my top. */
   right: 0; /* setting my right. */
   z-index: 1; /* z-index -1: logowrapper is positioned OVER the looping video */
}

.logowrapper>img {
   object-fit: cover;
   max-height: 100%;
   width: 35%;
   opacity: 0.75;
}

video.main {
   width: 100%;
   height: 100vh;
   object-fit: cover;
   transform: translateZ(-5px) scale(1px);
   position: absolute; /* Default position: static. */
}

.wrapper {
   position: relative; /* Default postion: static. */
   perspective: 1px;
   width: 100%;
   height: 100vh;
}

